.title{
  font-family: Anton;
  font-size: 55px;
  margin-top: 20px;
}

.addToCartBttn{
  font-family: "DM Sans";
   background-color: #2e7d32; /* green */
  color: white;
  border: none;
  border-radius: 6px;
}

.total{
    font-weight: 'bold';
    font-size: 25px;
    text-align: left;
    color: #333;
}