.firstRow{
  width: 10000px;
  display: inline-block;
  margin-right: 0px;
  font-weight: bold;
}

.firstCells{
  width: 50px;
  display: inline-block;
  margin-right: 250px;
  font-weight: bold;
  padding-right: 20px;
}


.cell{
  width: 300px;
  display: inline-block;
  margin-right: 0px;
}


.buttons {
  margin-left: 0px;
  display: inline-block;
  
}

.deleteBttn {
  background-color: #d32f2f; /* red */
  color: white;
  margin-left: 0px;
  display: inline-block;
  padding: 6px 12px;
  margin: 4px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-family: "DM Sans"
}

.deleteBttn:hover {
  background-color: #9a0007;
}
.editBttn {
  background-color: #1976d2; /* blue */
  color: white;
  margin-left: 0px;
  display: inline-block;
  padding: 6px 12px;
  margin: 4px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-family: "DM Sans"
}

.editBttn:hover {
  background-color: #115293;
}


