.user-profile{
  font-family: "DM Sans";
  text-align: center;
  margin-top: 20px;
}

/* styles.css */
.logout-btn {
  background-color: #f44336; /* Red */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  font-family: "DM Sans";
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 15px;
}

.logout-btn:hover {
  background-color: #d32f2f;
}

.login-btn {
  padding: 8px 16px;
  background-color: #2e7d32; /* green */
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-family: "DM Sans";
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  margin: 1rem 0;
  margin-left: 15px;
  display: block;
}

.login-btn:hover {
  background-color: #1b5e20;
  transform: scale(1.03);
}

.login-btn:active {
  transform: scale(0.98);
}

.profile{
  display: block;
  width: 100%;
}